.elementor-kit-8{--e-global-color-primary:#3D3D3D;--e-global-color-secondary:#3D3D3D;--e-global-color-text:#54585A;--e-global-color-accent:#61CE70;--e-global-typography-primary-font-family:"VAG Rounded Next";--e-global-typography-primary-font-weight:600;--e-global-typography-secondary-font-family:"VAG Rounded Next";--e-global-typography-secondary-font-weight:500;--e-global-typography-text-font-family:"VAG Rounded Next";--e-global-typography-text-font-weight:400;--e-global-typography-accent-font-family:"VAG Rounded Next";--e-global-typography-accent-font-weight:500;}.elementor-kit-8 e-page-transition{background-color:#FFBC7D;}.elementor-section.elementor-section-boxed > .elementor-container{max-width:1128px;}.e-con{--container-max-width:1128px;}.elementor-widget:not(:last-child){margin-block-end:20px;}.elementor-element{--widgets-spacing:20px 20px;--widgets-spacing-row:20px;--widgets-spacing-column:20px;}{}h1.entry-title{display:var(--page-title-display);}.site-header .site-branding{flex-direction:column;align-items:stretch;}.site-header{padding-inline-end:0px;padding-inline-start:0px;}.site-footer .site-branding{flex-direction:column;align-items:stretch;}@media(min-width:1600px){.elementor-section.elementor-section-boxed > .elementor-container{max-width:1128px;}.e-con{--container-max-width:1128px;}}@media(max-width:1024px){.elementor-section.elementor-section-boxed > .elementor-container{max-width:688px;}.e-con{--container-max-width:688px;}}@media(max-width:767px){.elementor-section.elementor-section-boxed > .elementor-container{max-width:320px;}.e-con{--container-max-width:320px;}}/* Start Custom Fonts CSS */@font-face {
	font-family: 'VAG Rounded Next';
	font-style: normal;
	font-weight: 400;
	font-display: auto;
	src: url('https://sesameworkshopindia.org/wp-content/uploads/2025/05/vag-rounded-next-regular.ttf') format('truetype');
}
@font-face {
	font-family: 'VAG Rounded Next';
	font-style: normal;
	font-weight: 500;
	font-display: auto;
	src: url('https://sesameworkshopindia.org/wp-content/uploads/2025/05/vag-rounded-next-medium.ttf') format('truetype');
}
@font-face {
	font-family: 'VAG Rounded Next';
	font-style: normal;
	font-weight: 600;
	font-display: auto;
	src: url('https://sesameworkshopindia.org/wp-content/uploads/2025/05/vag-rounded-next-bold.ttf') format('truetype');
}
/* End Custom Fonts CSS */