.elementor-2239 .elementor-element.elementor-element-cf95774{--display:flex;--flex-direction:row;--container-widget-width:initial;--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--gap:0px 0px;--row-gap:0px;--column-gap:0px;}.elementor-2239 .elementor-element.elementor-element-7e32f03{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;}.elementor-2239 .elementor-element.elementor-element-0b06297{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;}.elementor-2239 .elementor-element.elementor-element-0b06297.e-con{--flex-grow:0;--flex-shrink:0;}.elementor-widget-image .widget-image-caption{color:var( --e-global-color-text );font-family:var( --e-global-typography-text-font-family ), Sans-serif;font-weight:var( --e-global-typography-text-font-weight );}.elementor-2239 .elementor-element.elementor-element-195f0ed img{width:100%;}.elementor-2239 .elementor-element.elementor-element-b282754{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;}.elementor-2239 .elementor-element.elementor-element-d8f9c0e .ekit_navsearch-button :is(i, svg){font-size:20px;}.elementor-2239 .elementor-element.elementor-element-d8f9c0e .ekit_navsearch-button, .elementor-2239 .elementor-element.elementor-element-d8f9c0e .ekit_search-button{color:var( --e-global-color-primary );fill:var( --e-global-color-primary );}.elementor-2239 .elementor-element.elementor-element-d8f9c0e .ekit_navsearch-button{margin:5px 5px 5px 5px;padding:0px 0px 0px 0px;width:40px;height:40px;line-height:40px;text-align:right;}.ekit-popup-d8f9c0e > .mfp-container > .mfp-content{vertical-align:middle;}.elementor-2239 .elementor-element.elementor-element-c6fabc2{--display:flex;--min-height:80vh;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--justify-content:space-between;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-2239 .elementor-element.elementor-element-dc72ee2{--display:flex;}@media(min-width:768px){.elementor-2239 .elementor-element.elementor-element-7e32f03{--width:10%;}.elementor-2239 .elementor-element.elementor-element-0b06297{--width:80%;}.elementor-2239 .elementor-element.elementor-element-b282754{--width:10%;}}@media(max-width:767px){.elementor-2239 .elementor-element.elementor-element-cf95774{--flex-wrap:nowrap;}.elementor-2239 .elementor-element.elementor-element-7e32f03{--flex-direction:row;--container-widget-width:initial;--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;}.elementor-2239 .elementor-element.elementor-element-0b06297{--width:66%;}.elementor-2239 .elementor-element.elementor-element-dc72ee2{--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;--z-index:99;}}/* Start custom CSS for shortcode, class: .elementor-element-fe04bdc */.mob-custom-dropdown-menu border-bottom: 1px solid #f5f5f5;


.mob-custom-dropdown-menu span.bellows-target-title.bellows-target-text {
    font-size: 1.125rem;
    color: #54585a!important;
}
.mob-custom-dropdown-menu li.bellows-menu-item {
    border-bottom: 1px solid #f5f5f5 !important;
}
.mob-custom-dropdown-menu ul.bellows-submenu ul.bellows-submenu li a {
    padding-top: 0px!important;
    padding-bottom: 0px !important;
    margin-bottom: 1.1rem;
}
.mob-custom-dropdown-menu ul.bellows-submenu ul.bellows-submenu li {
    border-bottom: 0px!important;
}
ul.bellows-submenu li {
    border-bottom: 0px !important;
}
.mob-custom-dropdown-menu ul.bellows-submenu li a {
    padding-top: 0px!important;
    padding-bottom: 1.125rem!important;
}
.mob-custom-dropdown-menu ul.bellows-submenu li a span {
    font-size: 16px!important;
    font-weight: 400!important;
    color: #54585a!important;
}
.mob-custom-dropdown-menu .bellows-menu-item span.bellows-target-title.bellows-target-text:not(.bellows-submenu li a span) {
    color: #54585a !important;
    font-size: 18px!important;
    font-weight: 500!important;
}

.mob-custom-dropdown-menu .bellows-menu-item.bellows-active span.bellows-target-title.bellows-target-text:not(.bellows-submenu li a span):after {
    content: "";
    display: block;
    width: 85px;
    height: 3px;
    border-radius: 3px;
    background-color: #00b140;
}
.mob-custom-dropdown-menu i.bellows-subtoggle-icon-expand:before {
    color: #00b140!important;
}
.mob-custom-dropdown-menu i.bellows-subtoggle-icon-collapse.fa.fa-chevron-up:before {
    color: #00b140!important;
}/* End custom CSS */